<!-- === Slide 2 === -->
<div class="slide story" id="slide-2" data-slide="2">
  <div class="container">
    <div class="row title-row">
      <div class="col-12 font-thin">Contrary to popular belief, <span class="font-semibold">Lorem Ipsum</span> is not simply random text.</div>
    </div><!-- /row -->
    <div class="row line-row">
      <div class="hr">&nbsp;</div>
    </div><!-- /row -->
    <div class="row subtitle-row">
      <div class="col-12 font-thin">This is what <span class="font-semibold">we do best</span></div>
    </div><!-- /row -->
    <div class="row content-row">
      <div class="col-12 col-lg-3 col-sm-6">
        <p><i class="icon icon-eye-open"></i></p>
        <h2 class="font-thin">Visual <span class="font-semibold">Identity</span></h2>
        <h4 class="font-thin">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h4>
      </div><!-- /col12 -->
      <div class="col-12 col-lg-3 col-sm-6">
        <p><i class="icon icon-laptop"></i></p>
        <h2 class="font-thin">Web <span class="font-semibold">Design</span></h2>
        <h4 class="font-thin">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h4>
      </div><!-- /col12 -->
      <div class="col-12 col-lg-3 col-sm-6">
        <p><i class="icon icon-tablet"></i></p>
        <h2 class="font-thin">Mobile <span class="font-semibold">Apps</span></h2>
        <h4 class="font-thin">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h4>
      </div><!-- /col12 -->
      <div class="col-12 col-lg-3 col-sm-6">
        <p><i class="icon icon-pencil"></i></p>
        <h2 class="font-semibold">Development</h2>
        <h4 class="font-thin">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h4>
      </div><!-- /col12 -->
    </div><!-- /row -->
  </div><!-- /container -->
</div><!-- /slide2 -->

<!-- === SLide 3 - Portfolio -->
<div class="slide story" id="slide-3" data-slide="3">
  <div class="row">
    <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="assets/portfolio/p01-large.jpg"><img class="thumb" src="assets/portfolio/p01-small.jpg" alt=""></a></div>
    <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="assets/portfolio/p02-large.jpg"><img class="thumb" src="assets/portfolio/p02-small.jpg" alt=""></a></div>
    <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="assets/portfolio/p09-large.jpg"><img class="thumb" src="assets/portfolio/p09-small.jpg" alt=""></a></div>
    <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="assets/portfolio/dr_large.jpg"><img class="thumb" src="assets/portfolio/dr_small.jpg" alt=""></a></div>
    <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="assets/portfolio/p05-large.jpg"><img class="thumb" src="assets/portfolio/p05-small.jpg" alt=""></a></div>
    <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="assets/portfolio/p06-large.jpg"><img class="thumb" src="assets/portfolio/p06-small.jpg" alt=""></a></div>
    <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="assets/portfolio/p07-large.jpg"><img class="thumb" src="assets/portfolio/p07-small.jpg" alt=""></a></div>
    <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="assets/portfolio/p08-large.jpg"><img class="thumb" src="assets/portfolio/p08-small.jpg" alt=""></a></div>
    <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="assets/portfolio/p03-large.jpg"><img class="thumb" src="assets/portfolio/p03-small.jpg" alt=""></a></div>
    <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="assets/portfolio/p04-large.jpg"><img class="thumb" src="assets/portfolio/p04-small.jpg" alt=""></a></div>
    <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="assets/portfolio/p11-large.jpg"><img class="thumb" src="assets/portfolio/p11-small.jpg" alt=""></a></div>
    <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="assets/portfolio/p12-large.jpg"><img class="thumb" src="assets/portfolio/p12-small.jpg" alt=""></a></div>
    <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="assets/portfolio/tamil1.jpg"><img class="thumb" src="assets/portfolio/child.jpg" alt=""></a></div>
    <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="assets/portfolio/giri.JPG"><img class="thumb" src="assets/portfolio/owl.jpg" alt=""></a></div>

  </div><!-- /row -->
</div><!-- /slide3 -->

<!-- === Slide 4 - Process === -->
<div class="slide story" id="slide-4" data-slide="4">
  <div class="container">
    <div class="row title-row">
      <div class="col-12 font-thin">See us <span class="font-semibold">at work</span></div>
    </div><!-- /row -->
    <div class="row line-row">
      <div class="hr">&nbsp;</div>
    </div><!-- /row -->
    <div class="row subtitle-row">
      <div class="col-sm-1 hidden-sm">&nbsp;</div>
      <div class="col-12 col-sm-10 font-light">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</div>
      <div class="col-sm-1 hidden-sm">&nbsp;</div>
    </div><!-- /row -->
    <div class="row content-row">
      <div class="col-sm-1 hidden-sm">&nbsp;</div>
      <div class="col-12 col-sm-2">
        <p><i class="icon icon-bolt"></i></p>
        <h2 class="font-thin">Listening to<br><span class="font-semibold" >your needs</span></h2>
        <h4 class="font-thin">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</h4>
      </div><!-- /col12 -->
      <div class="col-12 col-sm-2">
        <p><i class="icon icon-cog"></i></p>
        <h2 class="font-thin">Project<br><span class="font-semibold">discovery</span></h2>
        <h4 class="font-thin">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</h4>
      </div><!-- /col12 -->
      <div class="col-12 col-sm-2">
        <p><i class="icon icon-cloud"></i></p>
        <h2 class="font-thin">Storming<br><span class="font-semibold">our brains</span></h2>
        <h4 class="font-thin">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</h4>
      </div><!-- /col12 -->
      <div class="col-12 col-sm-2">
        <p><i class="icon icon-map-marker"></i></p>
        <h2 class="font-thin">Getting<br><span class="font-semibold">there</span></h2>
        <h4 class="font-thin">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</h4>
      </div><!-- /col12 -->
      <div class="col-12 col-sm-2">
        <p><i class="icon icon-gift"></i></p>
        <h2 class="font-thin">Delivering<br><span class="font-semibold">the product</span></h2>
        <h4 class="font-thin">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</h4>
      </div><!-- /col12 -->
      <div class="col-sm-1 hidden-sm">&nbsp;</div>
    </div><!-- /row -->
  </div><!-- /container -->
</div><!-- /slide4 -->

<!-- === Slide 5 === -->
<div class="slide story" id="slide-5" data-slide="5">
  <div class="container">
    <div class="row title-row">
      <div class="col-12 font-thin"><span class="font-semibold">Clients</span> we’ve worked with</div>
    </div><!-- /row -->
    <div class="row line-row">
      <div class="hr">&nbsp;</div>
    </div><!-- /row -->
    <div class="row subtitle-row">
      <div class="col-sm-1 hidden-sm">&nbsp;</div>
      <div class="col-12 col-sm-10 font-light">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. <br/><br/> The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero.</div>
      <div class="col-sm-1 hidden-sm">&nbsp;</div>
    </div><!-- /row -->
    <div class="row content-row">
      <div class="col-1 col-sm-1 hidden-sm">&nbsp;</div>
      <div class="col-12 col-sm-2"><%= image_tag "client01.png" %></div>
      <div class="col-12 col-sm-2"><%= image_tag "client02.png" %></div>
      <div class="col-12 col-sm-2"><%= image_tag "client03.png" %></div>
      <div class="col-12 col-sm-2"><%= image_tag "client04.png"%></div>
      <div class="col-12 col-sm-2"><%= image_tag "client05.png" %></div>
      <div class="col-1 col-sm-1 hidden-sm">&nbsp;</div>
    </div><!-- /row -->
  </div><!-- /container -->
</div><!-- /slide5 -->