<!-- Large modal -->
<!--<button class="btn btn-primary" data-toggle="modal" data-target="#myModal">-->
<!--Login modal</button>-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;</button>
        <h4 class="modal-title" id="myModalLabel">
          Login / Registration </h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-8" style="border-right: 1px dotted #C2C2C2;padding-right: 30px;">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
              <li class="active"><a href="#Login" data-toggle="tab">Login</a></li>
              <li><a href="#Registration" data-toggle="tab">Registration</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
              <div class="tab-pane active" id="Login">
                <form role="form" class="form-horizontal">
                  <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">
                      Email</label>
                    <div class="col-sm-10">
                      <input class="form-control" name="email" placeholder="Email" type="email" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1" class="col-sm-2 control-label">
                      Password</label>
                    <div class="col-sm-10">
                      <input class="form-control" name="password" placeholder="Password" type="password" required>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-10">
                      <button type="submit" class="btn btn-primary btn-sm">
                        Submit</button>
                      <!--<a href="javascript:;">Forgot your password?</a>-->
                    </div>
                  </div>
                </form>
              </div>
              <div class="tab-pane" id="Registration">

                <%= form_for :user , :url => '/user' do |f| %>
                    <%= f.label :name , 'Name' %>
                    <input class="form-control" name="name" placeholder="Name" type="text" required>
                     <%#= f.text_field :name , class:'form-control', placeholder:'Name' ,type:'text' %>

                    <%= f.label :email, 'Email' %>
                    <input class="form-control" name="email" placeholder="Email" type="email" required>
                     <%#= f.text_field :email , class:'form-control', placeholder:'Email'  %>

                    <%= f.label :mobile, 'Mobile' %>
                    <input class="form-control" name="mobile" placeholder="Mobile" type="number" required>
                    <%#= f.text_field :mobile_number , class:'form-control', placeholder:'Mobile'  %>

                    <%= f.label :password, 'Password' %>
                    <input class="form-control" name="password" placeholder="Password" type="password" required>
                    <%#= f.password_field :password , class:'form-control', placeholder:'Password'  %>
                    <!--<input type="password" class="form-control" id="password" placeholder="Password" />-->

                    <div class="row">
                      <div class="col-sm-2">
                      </div>
                      <div class="col-sm-10">
                        <!--<button type="button" class="btn btn-primary btn-sm">-->
                        <!--Save & Continue</button>-->
                        <%= f.submit "Save", class: "btn btn-primary btn-sm" %>

                <button type="button" class="btn btn-default btn-sm">
                  Cancel</button>
                <% end %>
                </div>
                </div>
                </form>
              </div>
            </div>
            <!--<div id="OR" class="hidden-xs">-->
            <!--OR</div>-->
          </div>
          <!--<div class="col-md-4">-->
          <!--<div class="row text-center sign-with">-->
          <!--<div class="col-md-12">-->
          <!--<h3>-->
          <!--Sign in with</h3>-->
          <!--</div>-->
          <!--<div class="col-md-12">-->
          <!--<div class="btn-group btn-group-justified">-->
          <!--<a href="#" class="btn btn-primary">Facebook</a> <a href="#" class="btn btn-danger">-->
          <!--Google</a>-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->
        </div>
      </div>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-sm-2 active-menu"></div>
</div>
</div><!-- /.nav-collapse -->
</div><!-- /.container -->
</div><!-- /.navbar -->


<!-- === Arrows === -->
<div id="arrows">
  <div id="arrow-up" class="disabled"></div>
  <div id="arrow-down"></div>
  <div id="arrow-left" class="disabled visible-lg"></div>
  <div id="arrow-right" class="disabled visible-lg"></div>
</div><!-- /.arrows -->


<!-- === MAIN Background === -->
<div class="slide story" id="slide-1" data-slide="1">
  <div class="container">
    <div id="home-row-1" class="row clearfix">
      <div class="col-12">
        <h1 class="font-semibold">TAMIL <span class="font-thin">ARTS</span></h1>
        <h4 class="font-thin">We are an <span class="font-semibold">independent interactive agency</span> based in India.</h4>
        <br>
        <br>
      </div><!-- /col-12 -->
    </div><!-- /row -->
    <div id="home-row-2" class="row clearfix">
      <div class="col-12 col-sm-4"><div class="home-hover navigation-slide" data-slide="4"><%=image_tag "s02.png"%></div><span>PROFESSIONAL</span></div>
      <div class="col-12 col-sm-4"><div class="home-hover navigation-slide" data-slide="3"><%=image_tag "s01.png"%></div><span>FRIENDLY</span></div>
      <div class="col-12 col-sm-4"><div class="home-hover navigation-slide" data-slide="5"><%= image_tag "s03.png"%></div><span>SUITABLE</span></div>
    </div><!-- /row -->
  </div><!-- /container -->
</div><!-- /slide1 -->
<div class="content">
<%= render :partial => 'content' %>
</div>


<div class="contact">
  <%= render :partial => 'contact' %>
</div>


<script>
    $('#myModal').modal('show');

</script>

